In [2]:
import pandas as pd

In [ ]:
dataset = pd.read_csv("health_data.csv")
dataset

,Unnamed: 0,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,0.0,18393.0,1,168.0,62.0,110.0,80.0,0,0,0,0,1,0
1,1,1.0,20228.0,0,156.0,85.0,140.0,90.0,2,0,0,0,1,1
2,2,2.0,18857.0,0,165.0,64.0,130.0,70.0,2,0,0,0,0,1
3,3,3.0,17623.0,1,169.0,82.0,150.0,100.0,0,0,0,0,1,1
4,4,4.0,17474.0,0,156.0,56.0,100.0,60.0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69998,69995,99993.0,19240.0,1,168.0,76.0,120.0,80.0,0,0,1,0,1,0
69999,69996,99995.0,22601.0,0,158.0,126.0,140.0,90.0,1,1,0,0,1,1
70000,69997,99996.0,19066.0,1,183.0,105.0,180.0,90.0,2,0,0,1,0,1
70001,69998,99998.0,22431.0,0,163.0,72.0,135.0,80.0,0,1,0,0,0,1
70002,69999,99999.0,20540.0,0,170.0,72.0,120.0,80.0,1,0,0,0,1,0