In [2]:
import pandas as pd

In [6]:
dataset = pd.read_csv("Obesity.csv")
display(dataset.head())

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [15]:
print(dataset.dtypes)

Gender                             object
Age                               float64
Height                            float64
Weight                            float64
family_history_with_overweight     object
FAVC                               object
FCVC                              float64
NCP                               float64
CAEC                               object
SMOKE                              object
CH2O                              float64
SCC                                object
FAF                               float64
TUE                               float64
CALC                               object
MTRANS                             object
NObeyesdad                         object
dtype: object

In [12]:
print(f"\n Il dataset contiene {dataset.shape[0]} osservazioni e {dataset.shape[1]} variabili.\n")

 Il dataset contiene 2114 osservazioni e 17 variabili.

In [21]:
print(f"\n Valori Mancanti per ogni variabile\n")
missing_values = dataset.isna().sum()
missing_values

 Valori Mancanti per ogni variabile

Gender                            0
Age                               0
Height                            0
Weight                            0
family_history_with_overweight    0
FAVC                              0
FCVC                              0
NCP                               0
CAEC                              0
SMOKE                             0
CH2O                              0
SCC                               0
FAF                               0
TUE                               0
CALC                              5
MTRANS                            0
NObeyesdad                        1
dtype: int64

In [28]:
missing_values_percent = (missing_values/len(dataset))*100
missing_values_table = pd.DataFrame({"Valori Mancanti": missing_values, "% del totale": missing_values_percent})
display(missing_values_table[missing_values_table["Valori Mancanti"] > 0])

print(f"\n Valori mancanti Consumo Alcolici\n")
dataset[dataset["CALC"].isna()]

            Valori Mancanti  % del totale
CALC                      5      0.236518
NObeyesdad                1      0.047304

 Valori mancanti Consumo Alcolici

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
13,Male,41.0,1.80,99.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,NaN,Automobile,Obesity_Type_I
94,Female,24.0,1.60,48.0,no,yes,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,NaN,Public_Transportation,Normal_Weight
162,Female,21.0,1.63,60.0,yes,yes,3.0,3.0,Always,yes,2.0,no,2.0,0.0,NaN,Public_Transportation,Normal_Weight
278,Female,32.0,1.57,57.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,0.0,0.0,NaN,Automobile,Normal_Weight
463,Male,17.0,1.80,68.0,yes,no,2.0,3.0,Sometimes,no,1.0,no,2.0,1.0,NaN,Public_Transportation,Normal_Weight

In [27]:
print(f"\n Valori mancanti livello Obesità\n")
dataset[dataset["NObeyesdad"].isna()]

 Valori mancanti livello Obesità

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
376,Female,36.0,1.58,60.0,yes,no,3.0,3.0,Sometimes,no,1.0,no,2.0,0.0,Sometimes,Automobile,NaN

In [30]:
print(f"\n Gestione valori mancanti\n")
#da scegliere tra due strategie: rimozione (dataset.dropna()) o imputazione (dataset.fillna(value)) 
#nel primo caso eliminiamo tutte le righe che presentano dei valori mancanti (adatto quando ci sono pochi valori mancanti)
#nel secondo caso sostituiamo i valori mancanti con un valore (es: media, mediana, ecc...) (adatto quando non si vogliono perdere dati ed è possibile stimare il valori mancanti)
dataset_clean = dataset.dropna()

 Gestione valori mancanti